* {
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
}

.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  background-color: #eb1b23;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
  -webkit-box-align: center;
  align-items: center;
  min-height: 70px;
  justify-content: space-around;
}

.Nav {
  color: #eb1b23;
  margin: 5px;
  display: inline;
  padding: 8px 16px;
  font-size: medium;
  text-decoration: none;
}
.articles {
  justify-content: space-evenly;
  padding: 10px;

  justify-items: start;
}
.ArticleCard {
  font-size: large;
  height: 100%;
  border: 2px solid black;
  margin: 10px;
  padding: 8px 8px 8px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}
.ArticleCard > p {
  padding: 1rem;
}
.ArticleCard:hover {
  border: 3px solid #eb1b23;
}
.button {
  padding: 8px 16px;
  margin: 5px;
}
.button:hover {
  color: #eb1b23;
  border: 1px solid #eb1b23;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #eb1b23;
}
.userCard {
  margin: 10px;
  padding: 8px 8px;
}
.CommentsCard {
  margin: 10px;
  padding: 8px 8px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}
.CommentsCard:hover {
  border: 3px solid #eb1b23;
}
.date {
  font-size: 0.75rem;
  color: rgb(88, 88, 88);
}

.dropbtn {
  background-color: white;
  color: #eb1b23;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px 5px;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border: 2px solid #eb1b23;
  border-radius: 10px;
}
.Sign-in_alert {
  font-size: small;
  color: rgb(88, 88, 88);
  padding: 1rem;
}
.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  font-size: small;
  color: #1976d1;
  cursor: pointer;
}
.avatar_url {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 80%;
  width: 150px;
  height: 150px;
  padding: 0.5em;
  margin: 1rem;
  align-content: center;
}

.load_more {
  align-items: center;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  .articles {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 40px;
  }
}
